*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
}

.contenitore{
  width: 70%;
  margin: auto;
  font-family: 'Anton', sans-serif;
  
}

.contenitore h2{
  margin: 40px;
  font-size: 2.2rem;

}

.container{
  display: none;
}

